{
  "apps": {
    "customers": 81,
    "schedule": 85
  },
  "subdomain": "1206p",
  "auth": "aGlyb3lhc3U1NTpINHk4ZDVyNUFA",
  "props": {
    "googleApiKey": "AIzaSyAwTqiMwb8EtcH0Zqnk3RtG9Rx4RQwQtpE"
  },
  "contentsPath": "./dist/dev",
  "contents": {
    "customers": {
      "desktop": {
        "js": [
          "https://js.cybozu.com/vuejs/v2.5.11/vue.min.js",
          "js/customers.js"
        ],
        "css": [
          "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
          "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",
          "css/customers.css"
        ]
      },
      "mobile": {
        "js": [
          "js/customersMobile.js"
        ]
      }
    },
    "schedule": {
      "desktop": {
        "js": [
          "https://apis.google.com/js/api.js",
          "js/schedule.js"
        ],
        "css": [
        ]
      }
    }
  }
}
