{
  "apps": {
    "quizes": 30,
    "staffs": 82,
    "customers": 81,
    "visits": 83,
    "works": 84,
    "schedule": 85
  },
  "subdomain": "1206p",
  "auth": "aGlyb3lhc3U1NTpINHk4ZDVyNUFA",
  "props": {
    "googleApiKey": "AIzaSyAwTqiMwb8EtcH0Zqnk3RtG9Rx4RQwQtpE",
    "googleClientId": "767748259285-oih0h9tkp9o6h93go9b1e4j34gd65mi5.apps.googleusercontent.com",
    "googleCalendarId": "5d92efn98nke5ss4r5d1g46af8@group.calendar.google.com",
    "googleCalendarDiscoveryDocs": "https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest",
    "googleCalendarScope": "https://www.googleapis.com/auth/calendar",
    "gmapClientKey": "AIzaSyAgExm9s-E6pdhV5QZTNCTEHXYziKbOFTs",
    "awsAccessKeyId": "AKIAITULLWVDFRP4HSTA",
    "awsSecretAccessKey": "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",
    "awsRegion": "ap-northeast-1"
  },
  "contentsPath": "./dist/dev",
  "contents": {
    "quizes": {
      "desktop": {
        "js": [
          "https://js.cybozu.com/vuejs/v2.5.11/vue.min.js",
          "js/quizes.js"
        ],
        "css": [
          "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
          "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",
          "css/quizes.css"
        ]
      }
    },
    "staffs": {
      "desktop": {
        "js": [
          "js/staffs.js"
        ],
        "css": [
          "css/staffs.css"
        ]
      }
    },
    "customers": {
      "desktop": {
        "js": [
          "js/customers.js"
        ],
        "css": [
          "css/customers.css"
        ]
      }
    },
    "works": {
      "desktop": {
        "js": [
          "https://apis.google.com/js/api.js",
          "works.js"
        ],
        "css": [
          "works.css"
        ]
      }
    },
    "schedule": {
      "desktop": {
        "js": [
          "https://apis.google.com/js/api.js",
          "schedule.js"
        ],
        "css": [
        ]
      }
    }
  }
}
